/* ====GOOGLE Fonts ====== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500;1,600&family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* ====Variables CSS ====== */

:root {
    /*=colors=*/
    --first-color: hsl(353, 100%, 65%);
    --title-color: hsl(244, 24%, 26%);
    --text-color: hsl(258, 66%, 98%);
    --body-color: #ff9d5c;
    --container-color: #fff;
    /*=Font and typography=*/
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.81rem;
    /*=Font Weight=*/
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    /*=Box Shadow=*/
    --shadow: 0px 5px 20px 0px rgb(69 67 96 /10%);
    /*=Border Radius=*/
    --border-radius: 20px;
}



@media only screen and (max-width: 768px) and (max-width : 1024px) {
     :root {
        --h1-font-size: 1.25rem;
        --h2-font-size: 1.05rem;
        --h3-font-size: 0.5rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }

    .bestellung_items{
        flex-direction: column;
    }

    .pizza_container{
        width: 50px;
        height: 50px;
    }
}


/*= BAse =*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    line-height: 1.7;
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--text-color);
    font-weight: var(--font-semibold);
    line-height: 1.2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section {
    height: 90vh;
    margin-top: 10vh;
}


/*=CSS CLASSES=*/

.container {
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    margin-left: 0.875 rem;
    font-weight: var(--font-bold);
    position: relative;
    margin-bottom: 3.75rem;
}

.section-title::before {
    content: '';
    background: url(./assets/dots-bg.svg);
    height: 2.25rem;
    width: 2.25 rem;
    position: absolute;
    left: -0.875;
    top: -0.875;
}

.btn {
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: 1.875rem;
    box-shadow: 0 0 1px rgb(0, 0, 0/0%);
    border: 1px solid transparent;
    color: #fff;
    background-color: var(--first-color);
    font-weight: var(--font-bold);
    margin: 10px;
}

.btn:hover {
    background-color: #ff6600;
    /* Change to the desired hover color */
    transform: scale(1.05);
    /* Scale the button slightly on hover */
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* Ensure it's above other content */
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.home {
    background-image: url('assets/pizza_background.gif');
    /* URL to your GIF file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home_name {
    font-size: var(--h1-font-size);
    text-align: center;
}

.about {
    display: block;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

.bestellung {
    background: #ff9d5c;
    text-align: center;
}

.pizza_infos {
    text-align: center;
}

.bestellung_title {
    display: inline-block;
    margin: 20px;
}

.bestellung_items {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.speisekarte {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Create 3 equal-width columns */
    gap: 10px;
    /* Add gap between grid items */
    justify-content: space-around;
    /* Center the grid items horizontally */
}

.pizza_container {
    background-color: #002347;
    border-radius: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    margin: 1rem;
}

.pizza_container:hover {
    background-color: #ff6600;
    /* Change the background color on hover */
    transform: scale(1.05);
    /* Scale up the element on hover */
}

.pizza_container img {
    max-width: 100%;
    max-height: 100%;
}

.warenkorb {
    text-align: center;
}

.warenkorb_items {
    text-align: left;
    background-color: var(--container-color);
    color: #333;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    width: 500px;
    height: 20vh;
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    border-radius: 1rem;
    margin: 5px;
    border: none;
    text-align: center;
    width: 500px;
}

.delete_btn {
    background: #002347;
}
